@font-face {
  font-family: 'Maven Pro';
  src: url('../fonts/Maven_Pro/MavenPro-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Maven Pro';
  src: url('../fonts/Maven_Pro/MavenPro-Bold.ttf');
  font-weight: 700;
}



@font-face {
  font-family: 'Noto Sans TC';
  src: url('../fonts/Noto_Sans_TC/NotoSansTC-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Sans TC';
  src: url('../fonts/Noto_Sans_TC/NotoSansTC-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Noto Sans TC';
  src: url('../fonts/Noto_Sans_TC/NotoSansTC-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Noto Sans TC';
  src: url('../fonts/Noto_Sans_TC/NotoSansTC-Black.otf');
  font-weight: 900;
}
