body {
  font-family: 'Noto Sans TC','微軟正黑體';
  font-size: 1rem;
  color: $text;
}
a {
  text-decoration: none;
  display: block;
}
* {
  box-sizing: border-box;
}

//字體單位設定
@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}
// * {
//   border: 1px solid black;
// }
