<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title KYOTO
    link(rel="stylesheet", href="style/style.css")
    link(rel="stylesheet", href="")
    link(href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet")
  body
    header
      nav.lg-navbar
        a.header-logo
          img(src="img/logo.svg", alt="header-logo")
        ul
          li
            a.nav-item(href="") 體驗京都
          li
            a.nav-item(href="") 季節特輯
          li
            a.nav-item(href="") 特色住宿
          li
            a.nav-item(href="") 好物分享
      nav.sm-navbar
        a.header-logo
          img(src="img/logo.svg", alt="header-logo")
        .menu-btn
          .menu-icon
            span.active
            span.active
            span.active
      
      main.main-container
        .top-hero
          .top-hero-image
          .hero-image-title
            .sub
              span Let's
              span visit
              span in
            .head KYOTO
            .desc 
              .line
              .text
                span 說走就走！
                span 來場完美的京都の旅
        .section-container
          .section-inner
            .section-block
              .section-title 
                span 體
                span 驗
                span 京
                span 都
              .section-content
                .section-item.popular
                  .img-title 
                    span 文化藝術
                .section-item.popular
                  .img-title 
                    span 道地美食
                .section-item.popular
                  .img-title 
                    span 自然風景
                .section-item.popular
                  .img-title 
                    span 人文歷史
              .section-btn 
                .btn-inner 
                  span 了
                  span 解
                  span 更
                  span 多
            



