<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title KYOTO
    link(rel="stylesheet", href="style/style.css")
    //- link(href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet")
    //- <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900&amp;subset=chinese-traditional" rel="stylesheet">
  body
    header
      nav.lg-navbar
        a.header-logo
          img(src="img/logo.svg", alt="header-logo")
        ul
          li
            a.nav-item(href="") 體驗京都
          li
            a.nav-item(href="") 季節特輯
          li
            a.nav-item(href="") 特色住宿
          li
            a.nav-item(href="") 好物分享
      nav.sm-navbar
        a.header-logo
          img(src="img/logo.svg", alt="header-logo")
        .menu-btn.nav-active
          .menu-icon.nav-active
            span.nav-active
            span.nav-active
            span.nav-active
        .sm-nav-list.nav-active
          ul.nav-active
            li.nav-active
              a.nav-item.nav-active(href="#") 體驗京都
            li
              a.nav-item.nav-active(href="#") 季節特輯
            li
              a.nav-item.nav-active(href="#") 特色住宿
            li
              a.nav-item.nav-active(href="#") 好物分享
    main.main-container
      .top-hero
        .top-hero-image
        .hero-image-title
          .sub
            span Let's
            span visit
            span in
          .head KYOTO
          .desc 
            .line
            .text 說走就走！來場完美的京都の旅
      .section-container
        .section-inner
          .section-block
            .section-title 
              span 京
              span 都
              span 風
              span 情
            .photo-area
              .section-item.experience
                .img-title 
                  span 文化藝術
              .section-item.experience
                .img-title 
                  span 道地美食
              .section-item.experience
                .img-title 
                  span 人文歷史
              .section-item.experience
                .img-title 
                  span 自然風景
          .load-btn 
              span 了
              span 解
              span 更
              span 多
          .section-block.show-area
            .section-title 
              span 四
              span 季
              span 精
              span 選
            .photo-area
              .section-item.season
                .img-title 
                  span SPRING / 春
              .section-item.season
                .img-title 
                  span SUMMER / 夏
              .section-item.season
                .img-title 
                  span AUTUMN / 秋
              .section-item.season
                .img-title 
                  span WINTER / 冬
    script(src='main.js')