.section-title {
  padding-bottom: 2.5rem; //40px / 35px
  text-align: center;
  span {
    font-weight: 500;
    padding: 0.2rem;
  }
}
// 調整字體
@media screen and (max-width: 499px) {
  .section-title {
    font-size: 1.75rem; //24.5px
  } 
}
@media screen and (min-width: 500px) {
  .section-title {
    font-size: 1.75rem; //28px
  }
}
@media screen and (min-width: 800px) {
  .section-title {
    font-size: 2rem; //32px
  }
}


